[Unit]
Description=Uvicorn FastAPI App
After=network.target

[Service]
# User and group to run the service as (choose your app user, e.g. ubuntu)
User=ubuntu
Group=ubuntu

# Working directory of your app
WorkingDirectory=/opt/e3-storage/e3

# Path to your virtualenv's uvicorn (if using venv), otherwise just `uvicorn`
ExecStart=/opt/.e3/bin/uvicorn backend.main:app \
  --host 0.0.0.0 \
  --port 443 \
  --reload \
  --ssl-keyfile=/opt/e3-storage/e3/backend/security/private.server.key \
  --ssl-certfile=/opt/e3-storage/e3/backend/security/server.crt

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target