TAVILY_API_KEY=""
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
DB_USER=""
DB_PASS=""
DB_HOST=""
DB_PORT=""
DB_NAME=""
DB_URL=""
AWS_ACCOUNT_ID=""
MAILGUN_API_KEY=""  # Replace with your actual API key
NEVERBOUNCE_CUSTOM_APP_API_KEY=""
NEVERBOUNCE_DOMAIN=""
